<!DOCTYPE html>
<html>
<head>
  <%- include head.ejs %>
  <script src="https://use.fontawesome.com/780c86b125.js"></script>
    <link rel="stylesheet" href="/stylesheets/newStudent.css">
</head>
<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70988910-1', 'auto');
    ga('send', 'pageview'); 

  </script>
  <nav class="navbar navbar-fixed-top navbar-collapse">
      <!--<div class="navbar">-->
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <img class="capawhite" alt="GOC" src="/images/capa_logo_white.png">
              </a>
          </div>
          <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="https://tmai.org/donate/?recurring=1&months=1&recipient=CAPA" target="_blank">Donate</a></li>
                <li><a href="/readpapers">Read Papers</a></li>
                <li><a href="/newsletters">Newsletters</a></li>
                <li><a href="/new">|</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
      </div>
  </nav>

  <div class="container navbar-spacer">
    <h1>Update Student</h1>
  </div>
<section>
        <div class="container">
            <form class="uploadImage" enctype="multipart/form-data" action="/update" method="POST">
                <div class="row">
                    <div class='col-lg-9'>
                        <div class="row">
                            <div class='col-lg-6'>
                                <div class="input input-group">
                                    <label>
                                        Full Name    
                                        <input type="text" class="form-control" id="name" value='<%- student.name %>' />
                                    </label>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class="input input-group">
                                    <label>
                                        Age   
                                        <input type="number" class="form-control" id="age" value='<%- student.age %>'>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-lg-6'>
                                <div class="input input-group">
                                    <label>
                                        Location   
                                        <input type="text" class="form-control" id="location" value='<%- student.location %>'>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-lg-6'>
                                <div class="input input-group">
                                    <label>
                                            Program<br/>
                                        <select id="program" name="program">
                                            <option>
                                                Change program
                                            </option>
                                            <% if (student.program==="Master of Divinity ('20)") { %>
                                                <option selected value="Master of Divinity ('20)">
                                                    Master of Divinity Year 1
                                                </option>
                                            <% } else { %>
                                                <option value="Master of Divinity ('20)">
                                                    Master of Divinity Year 1
                                                </option>
                                            <% } %>
                                            <% if (student.program==="Master of Divinity ('18)") { %>
                                                <option value="Master of Divinity ('18)" selected>
                                                    Master of Divinity Year 3
                                                </option>
                                            <% } else { %>
                                                <option value="Master of Divinity ('18)">
                                                    Master of Divinity Year 3
                                                </option>
                                            <% } %>
                                            <% if (student.program==="Advanced Diploma ('18)") { %>
                                                <option value="Advanced Diploma ('18)">
                                                    Advanced Diploma
                                                </option>
                                            <% } else { %>
                                                <option value="Advanced Diploma ('18)">
                                                    Advanced Diploma
                                                </option>
                                            <% } %>
                                            <% if (student.program==="Bachelor of Theology ('19)") { %>                                                
                                                <option selected value="Bachelor of Theology ('19)">
                                                    Bachelor of Theology Year 1
                                                </option>
                                            <% } else { %>
                                                <option value="Bachelor of Theology ('19)">
                                                    Bachelor of Theology Year 1
                                                </option>
                                            <% } %>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                    <div class="input input-group">
                                        <label>
                                                Status<br/>
                                            <select id="status">
                                                <option disabled>
                                                    Select status
                                                </option>
                                                <option value="Current">
                                                    Current
                                                </option>
                                                <option value="Graduate">
                                                    Graduate
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <label>
                            Profile Picture 
                            <img class="profile" style="margin: 5px 0 10px 0" src='/images/students/<%- student.photoURI %>' >
                            <label class="btn btn-primary">
                            Browse&hellip; <input type="file" name="imagename" id="imagename" style="display: none;">
                        </label>
                        </label>
                    </div>
                </div>
                <div class="input input-group">
                    <label>
                        Family Description   
                        <input type="text" class="form-control" id="family" value='<%- student.family %>'>
                    </label>
                </div>
                <div class="input input-group">
                    <label>
                        Quote   
                        <textarea rows="6" class="form-control" id="quote"><%- student.quote %></textarea>
                    </label>
                </div>
                <div class="input input-group">
                    <label>
                        Summary  
                        <textarea rows="9" class="form-control" id="summary"><%- student.summary %></textarea>
                    </label>
                </div>
                <label>
                    Interview<br/>
                    <% if ((student.interview.reverse())[0].year!==2017) { %>
                        <input class="inputs" id="taba" type="radio" name="tabs" checked/>
                        <label class="label" id="labela" for="taba">2017</label>
                    <% } %>
                    <% student.interview.reverse().forEach(function(interviewGroup, i) { %>
                        <% if (interviewGroup.year===2017) { %>
                            <input class="inputs" id="taba" type="radio" name="tabs" />
                            <label class="label" id="labela" for="taba"><%- interviewGroup.year %></label>
                        <% } else { %>
                            <input class="inputs" id="tab<%- i %>" type="radio" name="tabs" />
                            <label class="label" id="label<%- i %>" for="tab<%- i %>"><%- interviewGroup.year %></label>
                        <% } %>
                    <% }) %>
                    <% student.interview.reverse().forEach(function(interviewGroup, i) { %>
                        <% if(interviewGroup.qa.length===0) { %>
                            <p style="text-align:center">Nothing to see here 😮</p>
                        <% } else { %>
                            <% if (interviewGroup.year===2017) { %>
                                <section class="section content" id="contenta">
                                <table id="editable" class="table">
                            <% }  else { %>
                                <section class="section content" id="content<%- i %>">
                                <table class="table">
                            <% } %>
                                    <thead>
                                        <tr>
                                        <th>#</th>
                                        <th>Question</th>
                                        <th>Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                <% interviewGroup.qa.forEach(function(qa, j) { %>
                                    <tr>
                                        <th scope="row"><%= j+1 %></th>
                                        <td><%- qa.question %></td>
                                        <td><%- qa.answer %></td>
                                    </tr>
                                <% }) %>
                                    </tbody>
                                </table>
                                <% if (interviewGroup.year===2017) { %>
                                    <a style="cursor:hover" class="add-row">+ Add Question</a></br>
                                <% } %>
                            </section>
                        <% } %>
                    <% }) %>
                    <section class="section content" id="contenta">
                        <table id="editable" class="table">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Question</th>
                                <th>Answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td class='noEdit'>1</td><td> </td><td> </td></tr>
                            </tbody>
                        </table>
                        <a style="cursor:hover" class="add-row">+ Add Question</a></br>
                    </section>
                </label>
                <p>
                    <button type="submit" id="publish" class="multi-state save-enabled publish">Publish</button>                     
                    <button id="save" class="multi-state save-enabled save">Save</button>
                </p>
            </form>
        </div>
    </section>
    <%- include footer.ejs %>
    <script src="/scripts/editableTable.min.js"></script>
    <script src="/scripts/jquery.form.min.js"></script>    
    <script>
        var image;
        var btn = $('#save');
        var pub = $('#publish');
        var toPublished = function() {
            pub.removeClass('saving').addClass('saved').text('Published');
            pub.find('i').remove();
            pub.prepend('<i class="fa fa-check"></i>');
        };

        var toPublishing = function() {
            pub.removeClass('save-enabled').addClass('saving').text('Publishing').prop('disabled', true);
            pub.prepend('<i class="fa fa-circle-o-notch fa-spin"></i>');
        };

        var toSaved = function() {
            btn.removeClass('saving').addClass('saved').text('Saved');
            btn.find('i').remove();
            btn.prepend('<i class="fa fa-check"></i>');
        };

        var toSaving = function() {
            btn.removeClass('save-enabled').addClass('saving').text('Saving').prop('disabled', true);
            btn.prepend('<i class="fa fa-circle-o-notch fa-spin"></i>');
        };
        var draft = false;
        $('#labela').click(function() {
            <% student.interview.reverse().forEach(function(interviewGroup, j) { %>
                $('#content<%- j %>').css("display", "none");
            <% }) %>
            $('#contenta').css("display", "block");
        })

        <% student.interview.reverse().forEach(function(interviewGroup, i) { %>
            <% if(interviewGroup.qa.length!==0) { %>
                $('#label<%- i %>').click(function() {
                    <% student.interview.reverse().forEach(function(interviewGroup, j) { %>
                        <%  if(interviewGroup.qa.length!==0) { %>
                            $('#content<%- j %>').css("display", "none");
                            $('#contenta').css("display", "none");
                        <% } %>
                    <% }) %>
                    $('#content<%- i %>').css("display", "block");
                });
            <% } %>
        <% }) %>
        
        $('.section').click(function(e) {
            e.preventDefault();
        })
        $('#save').click(function(e){
            e.preventDefault();
            draft = true;
            $('.uploadImage').submit();
        });
        
        $('.uploadImage').submit(function(e){
            e.preventDefault();
            toSaving();
            var data = {};
            data.name = $('#name').val();
            data.program = $("#program").val();
            data.age = $('#age').val();
            data.location = $('#location').val();
            data.family = $('#family').val();
            data.quote = $('#quote').val();
            data.summary = $('#summary').val();
            data.status = $('#status').val();
            data.draft = draft;
            var interviewFinal= []
            var interview = { year: 2017, qa: [] }
            $("#editable tbody").find('tr').each(function (i, el) {
                var $tds = $(this).find('td'),
                question = $tds.eq(0).text(),
                answer = $tds.eq(1).text();
                if (question && question!==' ' && answer && answer!==' ')
                    interview.qa.push({ question, answer });
            });
            if (interview.qa.length > 0) interviewFinal.push(interview);
            if (interviewFinal.length > 0 ) data.interview = interviewFinal
            if (image) data.photoURI = image;
            $(this).ajaxSubmit({
                data,
                contentType: 'application/json',
                success: function(response){
                    toSaved();    
                    window.location.replace('/admin') 
                }
            });
            return false;
        });
       
        $("#imagename").change(function() {
            var imageFile = $(this)[0].files[0];
            var url = window.URL.createObjectURL(imageFile);
            image = imageFile.name
            $('.profile').attr("src",url);
        })
        $(document).ready(function(){
            $('#editable').editableTableWidget({editor: $('<textarea>'), preventColumns: [ 1 ]});
            $('#labela').click()
            $(".add-row").click(function(){
                var i = 1;
                var last = $('.table tr:last td:first')[0]
                if (last) i = parseInt(last.innerHTML) + 1;
                var markup = "<tr><td class='noEdit'>" + i + "</td><td> </td><td> </td></tr>";
                $("#editable tbody").append(markup);
                $('#editable').editableTableWidget({editor: $('<textarea>'), preventColumns: [ 1 ]});
            });
        });
    </script>
</body>
</html>