<!DOCTYPE html>


<html>
<head>
  <%- include head.ejs %>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
  <body>
  <%- include navbar.ejs %>
  <div class="capa-title">

    <h1>CAPA</h1>
  </div>


    <div class="overlay" id="intro">
        <p>Thank you for taking the time to get to know our students! Below, you can find interviews of all of our students. In each student interview, you can find their individual prayer requests. Thank you for taking the time to pray for the Central African Preaching Academy, our professors, our staff, and our students.
        <br>
        <br>
        Whether you partner with us financially or in prayer, we thank you for supporting the work that we do here. Please enjoy the student interviews, and join with us in praising our God for the work that He is doing here in Malawi!
        </p>
    </div>
    <div class="container" id="students">
        <div class="row" id="meet-the-students">
          <h2>Meet the Students</h2>
          <button class="btn btn-default diploma-btn">Advanced Diploma</button>
          <button class="btn btn-default mdiv-btn">Master of Divinity</button>
          <button class="btn btn-default show-all-btn">Show All</button>
        </div>
          <div class="row">
            <% students.forEach(function(s) { %>
              <% if (s.program == "Master of Divinity") { %>
              <div class="col-md-2 col-sm-6 col-xs-4 student mdiv">
              <% } else { %>
              <div class="col-md-2 col-sm-6 col-xs-4 student diploma">
              <% } %>
                <div class="profilePic">
                  <a href="/profile/<%= s._id %>"><img src="/images/<%= s.photoURI %>" class="img-responsive"></a>
                </div>
                <p class="student-name"><a href="/profile/<%= s._id %>"><%= s.name %></a></p>
              </div>
            <% }); %>
          </div>
      </div>
    </div>
  <%- include footer.ejs %>
  <script type='text/javascript'>
      $(document).ready(function() {
        $('.capa-title h1').hide();

        $('.capa-title h1').fadeIn(800);

        $('.diploma-btn').on('click', function() {
          $('.btn').css("background-color", "#e1b67c");
          $(this).css("background-color", "#E0DB7C");
          $('.student').hide();
          $('.diploma').show();
        });
        $('.mdiv-btn').on('click', function() {
          $('.btn').css("background-color", "#e1b67c");
          $(this).css("background-color", "#E0DB7C");
          $('.student').hide();
          $('.mdiv').show();
        });
        $('.show-all-btn').on('click', function() {
          $('.btn').css("background-color", "#e1b67c");
          $(this).css("background-color", "#E0DB7C");
          $('.student').show(); //css("display", "none");
        });
      });
    $(document).ready(function() {

      $(window).scroll(function () {

        console.log($(window).scrollTop());
        if ($(window).scrollTop() > $('.capa-title').height() ) {


          $('.navbar a').css('color', '#62abe1');
          $('.navbar').css('background-color', '#fff');
          $('.nav a').css('background-color', '#fff');
          $('.nav a :active').css('background-color', '#fff');
          $('.nav a :focus').css('background-color', '#fff');
          $('.nav a :hover').css('background-color', '#fff');

          $('.navbar').css('transition', 'all 0.25s ease');
          $('.nav a').css('transition', 'all 0.25s ease');
        }
        else if ( $(window).scrollTop() < $('.capa-title').height()) {

          $('.navbar a').css('color', '#fff');
          $('.navbar').css('background-color' ,'#62abe1');
          $('.nav a').css('background-color', '#62abe1');
          $('.nav a :active').css('background-color', ' #62abe1');
          $('.nav a :focus').css('background-color', ' #62abe1');
          $('.nav a :hover').css('background-color', ' #62abe1');
          $('.navbar').css('transition', 'all 0.25s ease');
          $('.nav a').css('transition', 'all 0.25s ease');
        }
        if( $(window).scrollTop() > ($(document).height()-$('#student').height()-$('footer').height())){
          $('.navbar a').css('color', '#fff');
          $('.navbar').css('background-color' ,'#62abe1');
          $('.nav a').css('background-color', '#62abe1');
          $('.nav a :active').css('background-color', ' #62abe1');
          $('.nav a :focus').css('background-color', ' #62abe1');
          $('.nav a :hover').css('background-color', ' #62abe1');
          $('.navbar').css('transition', 'all 0.25s ease');
          $('.nav a').css('transition', 'all 0.25s ease');
        }
      });
    });
  </script>
  </body>
</html>
