<!DOCTYPE html>
<html>
<head>
  <%- include head.ejs %>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
  <%- include navbar.ejs %>
  <div class="container container-style">
    <div class="row quote">
      <h2 class="font-light">
        <%= student.quote %>
      </h2>
    </div>
    <div class="row name">
        <h1 class="font-light">
          - <%= student.name %>
        </h1>
    </div>
    <div class="row">
      <div class="col-md-4 profile-left">
        <div class="row">
          <img class="profilePic" src="/images/students/<%= student.photoURI %>">
        </div>
        <div class="row support-wrapper">
          <a href="https://tmai.org/donate/<%= uri %>" class="support font-light" target="_blank">
            SUPPORT
          </a>
        </div>
        <div class="row">
          <p>$100 per month provides a pastor a scholarship to study at CAPA.</p>
        </div>
      </div>
      <div class="col-md-8 summary">
        <p>
          <% if (student.program) { %>
          <b>PROGRAM</b> <span class="pipe">|</span> <%= student.program%>
          <% } if (student.program && (student.age || student.location || student.family)) { %>
          <br>
          <% } if (student.age) { %>
          <b>AGE</b> <span class="pipe">|</span> <%= student.age %>
          <% } if (student.age && (student.location || student.family)) { %>
          <br>
          <% } if (student.location) { %>
          <b>MINISTERING IN</b> <span class="pipe">|</span> <%= student.location %>
          <% } if (student.location && student.family) { %>
          <br>
          <% } if (student.family) { %>
          <b>FAMILY</b> <span class="pipe">|</span> <%= student.family %>
          <% } %>
        </p>
        <p>
          <%= student.summary %>
        </p>
        <div class="audio">
          <% if (student.audio.length > 0) { %>
          <p><b>LISTEN</b> <span class="pipe">|</span> Interview with <%= student.name %></p>
          <% } %>
          <% student.audio.forEach(function(URI, i) { %>
          <div class="audio-style">
            <p><%= student.audioTaglines[i] %></p>
            <audio controls src="http://googledrive.com/host/<%= URI %>" type="audio/wav"></audio>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 interview interview-title">
        <hr>
        <h3>Interview with <%= student.name %></h3>
        <a class="show-all">Show All Answers</a>
        <a class="hide-all">Hide All Answers</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 interview">
        <% student.interview.forEach(function(i, index) { %>
        <div class="qa-pair">
          <p class="question"><%= i.question %></p>
          <p class="answer<%= (index == 0) ? " first-answer" : "" %>"><%- i.answer %></p>
        </div>
        <% }); %>
      </div>
    </div>
</div>
  <%- include footer.ejs %>
  <script>
      $(document).ready(function(){
        $(".first-answer").show();
        $(".question").on('click', function() {
          $(this).parent().children('.answer').slideToggle();
          if ($(".answer:hidden").length != 0) {
            $(".hide-all").hide();
            $(".show-all").show();
          }
          if ($(".answer:hidden").length == 0) {
            $(".show-all").hide();
            $(".hide-all").show();
          }
        });
        $(".show-all").on('click', function() {
          $(".show-all").hide();
          $(".hide-all").show();
          $(".answer").fadeIn(200);
        });
        $(".hide-all").on('click', function() {
          $(".hide-all").hide();
          $(".show-all").show();
          $(".answer").fadeOut(200);
        });
      });
  </script>
</body>
</html>