<!DOCTYPE html>
<html>
<head>
  <%- include head.ejs %>
  <link rel="stylesheet" href="/stylesheets/hover-min.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
  <%- include navbar.ejs %>
  <div class="container">
  <div class="col-md-8 middle" id="intro">
    <h1>
      <%= student.name %>
    </h1>
    <img class="profilePic" src="/images/<%= student.photoURI %>">
    <a href="http://www.tmai.org/donate/" class="hvr-grow support mobile-ver" target="_blank">
      SUPPORT
    </a>
        <span id="quote">
            <%= student.quote %>
        </span>
    <hr>
  </div>
  <!--right top side for individual description data-->
  <div class="col-md-4 col-sm-12" id="details">
    <div class="list">
      <img class="map" src="/images/capa-map.png">
      <ul class="detail-list">
        <% if (student.program != "") { %>
        <li>
          Program: <%= student.program %>
        </li>
        <% } if (student.age != "") { %>
        <li>
          Age: <%= student.age %>
        </li>
        <% } if (student.location != "") { %>
        <li>
          Ministering in: <%= student.location %>
        </li>
        <% } if (student.family != "") { %>
        <li>
          Family: <%= student.family %>
        </li>
        <% } %>
      </ul>
    </div>

  </div>
    <div class="col-md-4 middle">
      <a href="http://tmai.org/donate" class="hvr-grow support" target="_blank">
        SUPPORT
      </a>
    </div>
  <!-- left bottom side for individual description passage-->
  <div class="col-md-8 " id="indiv">

        <span id="more-info">
            <%= student.summary %>
         </span>
    <hr>

    <div class="interview">
      <!-- person's name title-->
      <h3>
        Interview with <%= student.name %>
      </h3>

      <% student.audio.forEach(function(URI) { %>
      <div class="audio-style">
       <audio controls src="http://googledrive.com/host/<%= URI %>" type="audio/wav"></audio>
      </div>
      <% }); %>

      <% student.interview.forEach(function(i) { %>
        <div class="qa-pair">
          <p class="question"><%= i.question %></p>
          <p class="answer"><%= i.answer %></p>
        </div>
      <% }); %>
    </div>
    </div>
  <!-- right bottom side-->

  </div>
  <%- include footer.ejs %>
</body>
</html>