<!DOCTYPE html>
<html>
<head>
  <%- include head.ejs %>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
  <%- include navbar.ejs %>
  <div class="container container-style">
    <div class="row quote">
      <h2>
        <%= student.quote %>
      </h2>
    </div>
    <div class="row name">
        <h1>
          - <%= student.name %>
        </h1>
    </div>
    <div class="row">
      <div class="col-md-4 profile-left">
        <div class="row">
          <img class="profilePic" src="/images/students/<%= student.photoURI %>">
        </div>
        <div class="row support-wrapper">
          <a href="https://www.tmai.org/donate/<%= uri %>" class="support" target="_blank">
            SUPPORT
          </a>
        </div>
        <div class="row">
          <p>$100 per month provides a pastor a scholarship to study at CAPA.</p>
        </div>
      </div>
      <div class="col-md-8 summary">
        <p>
          <% if (student.program) { %>
          Program: <%= student.program%>
          <% } if (student.program && (student.age || student.location || student.family)) { %>
          <br>
          <% } if (student.age) { %>
          Age: <%= student.age %>
          <% } if (student.age && (student.location || student.family)) { %>
          <br>
          <% } if (student.location) { %>
          Ministering in: <%= student.location %>
          <% } if (student.location && student.family) { %>
          <br>
          <% } if (student.family) { %>
          Family: <%= student.family %>
          <% } %>
        </p>
        <p>
          <%= student.summary %>
        </p>
      </div>
    </div>
    <div class="row interview">
        <br>
        <hr>
          <h3>Interview with <%= student.name %></h3>
        <hr>
      <div class="audio">
        <% if (student.audio.length > 0) { %>
        <h4>Listen to an interview with <%= student.name %></h4>
        <% } %>
        <% student.audio.forEach(function(URI) { %>
        <div class="audio-style">
          <audio controls src="http://googledrive.com/host/<%= URI %>" type="audio/wav"></audio>
        </div>
        <% }); %>
      </div>
    </div>
    <div class="row interview">
      <button class="btn btn-default show-all">Show All Answers</button>
      <button class="btn btn-default hide-all">Hide All Answers</button>
      <% student.interview.forEach(function(i, index) { %>
        <div class="qa-pair">
          <p class="question"><%= i.question %></p>
          <p class="answer<%= (index == 0) ? " first-answer" : "" %>"><%- i.answer %></p>
        </div>
      <% }); %>
    </div>
</div>
  <%- include footer.ejs %>
  <script>
      $(document).ready(function(){
        $(".first-answer").show();
        $(".question").on('click', function() {
          $(this).parent().children('.answer').slideToggle();
          if ($(".answer:hidden").length != 0) {
            $(".hide-all").hide();
            $(".show-all").show();
          }
          if ($(".answer:hidden").length == 0) {
            $(".show-all").hide();
            $(".hide-all").show();
          }
        });
        $(".show-all").on('click', function() {
          $(".show-all").hide();
          $(".hide-all").show();
          $(".answer").fadeIn(200);
        });
        $(".hide-all").on('click', function() {
          $(".hide-all").hide();
          $(".show-all").show();
          $(".answer").fadeOut(200);
        });
      });
  </script>
</body>
</html>