<!DOCTYPE html>
<html>
<head>
  <%- include head.ejs %>
  <link rel="stylesheet" href="/stylesheets/hover-min.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
  <%- include navbar.ejs %>
  <div class="container container-style">
    <div class="row quote">
      <h2>
        <%= student.quote %>
      </h2>
      <hr>
    </div>
    <div class="row title">
        <h1>
          - <%= student.name %>
        </h1>
        <p>
          <% if (student.program) { %>
          Program: <%= student.program%> |
          <% } if (student.age) { %>
          Age: <%= student.age %> |
          <% } if (student.location) { %>
          Ministering in: <%= student.location %>
          <% } if (student.location && student.family) { %>
          |
          <% } if (student.family) { %>
          Family: <%= student.family %>
          <% } %>
        </p>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4">
          <img class="profilePic" src="/images/<%= student.photoURI %>">
        <br>
          <a href="http://tmai.org/donate" class="support" target="_blank">
              SUPPORT
          </a>
      </div>
      <div class="col-md-8 summary">
        <p>
          <%= student.summary %>
        </p>
      </div>
    </div>
    <div class="row interview">
        <br>
        <hr>
          <h3>Interview with <%= student.name %></h3>
        <hr>
      <div class="audio">
        <% if (student.audio.length > 0) { %>
        <h4>Listen to an interview with <%= student.name %></h4>
        <% } %>
        <% student.audio.forEach(function(URI) { %>
        <div class="audio-style">
          <audio controls src="http://googledrive.com/host/<%= URI %>" type="audio/wav"></audio>
        </div>
        <% }); %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 interview">
        <% student.interview.forEach(function(i) { %>
        <div class="qa-pair">
          <p class="question"><%= i.question %></p>
          <p class="answer"><%- i.answer %></p>
        </div>
          <% }); %>
      </div>
    </div>
</div>

  <%- include footer.ejs %>
  <script>

      $(document).ready(function(){
        $('.container').hide();

        $('.container').fadeIn(700);
        $(".answer").hide();
        $( ".question" ).on('click', function() {
//          $( this).css('text-decoration', 'underline');
          $( this).parent().children('.answer').slideToggle();

        });

      });


  </script>
</body>
</html>